<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Malware Detection System</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body bgcolor="#1a1e1f">
    <div class="container">
        <div class="neon-circle"></div>
        <h1>Malware Detection System</h1>
        <form action="/" method="POST" enctype="multipart/form-data" class="file-form">
            <h3>Input your file here:</h3>
            <div class="input-field">
                <input type="file" name="file" required> 
            </div>
           <button type="submit" class="btn">Analyze File</button>
        </form>
    </div>
</body>
</html>
